@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,600&family=Gentium+Book+Plus:ital,wght@1,700&family=Rubik+Iso&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Bitter:ital,wght@1,600&family=Gentium+Book+Plus:ital,wght@1,700&family=Rubik+Iso&family=Sacramento&display=swap');
* {
    margin: 0;
    padding: 0;
    /* background-color: antiquewhite; */
    
}

nav ul {
    list-style: none;
    /* background-color:rgb(62, 5, 62);
    border-radius: 12px;
    padding: 5px; */
}

nav {
    background-color: rgb(37, 9, 37);
    color: white;
    height: 72px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    /* font-family: 'Bitter', serif; */
    /* font-family: 'Gentium Book Plus', serif; */
    font-family: 'Rubik Iso', cursive;
    /* font-family: 'Sacramento', cursive; */
}

.gamecontainer{
        /* background-color: yellow; */
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    
    .container{
        /* background-color: green; */
        display: grid;
        grid-template-columns: repeat(3,10vw);
        grid-template-rows: repeat(3,10vw);
        font-family: 'Bitter', serif;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gameinfo{
    padding-left: 20px;
    font-family: 'Baloo Bhaina 2', cursive;
    /* font-family: 'Bitter', serif;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Sacramento', cursive; */
}

.box:hover{
    background-color: rgb(233, 215, 233);
}

.imgbox img{
    /* display: none; */
    width: 0px;
    transition: width 1s ease-in-out ;
}

.br0{
    border-right: 0;
}
.bb0{
    border-bottom: 0;
}
.bl0{
    border-left: 0;
}
.bt0{
    border-top: 0;
}

#reset{
    /* border: 2px solid rgb(210, 75, 75);    */
    background-color: rgb(210, 173, 244);
    border-radius: 4px;
    padding: 2px;
    /* width: auto; */
    font-family: 'Bitter';
    font-size: 23px;
    border: none;
    cursor: pointer;
}

.info{
    font-size: 25px;
    padding: 2px;
}

@media (max-width: 767px) {
    .gamecontainer {
        /* background-color: yellow; */
        flex-wrap: wrap;
    }
    /* .nav{

        flex-wrap: wrap;
    } */
    .gameinfo{
        text-align: center;
    }
    .container{
        grid-template-columns: repeat(3,22vw);
        grid-template-rows: repeat(3,19vw);
        font-family: 'Bitter', serif;
    }
    .box{
        
        font-size: 8rem;
    }
    
}

.line{
    border: 5px solid rgb(184, 31, 184);
    /* display: flex; */
    position: absolute;
    width: 0vw;
    /* height: 2px; */
    transition: width 1s ease-in-out;
    border-radius: 4px;
    display: none;
}